@font-face {
	font-family: 'Liberation Sans';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Liberation/TypoPRO-LiberationSans-Bold.eot');
	src:
		url('../fonts/Liberation/TypoPRO-LiberationSans-Bold.eot') format('embedded-opentype'),
		url('../fonts/Liberation/TypoPRO-LiberationSans-Bold.ttf') format('truetype'),
		url('../fonts/Liberation/TypoPRO-LiberationSans-Bold.woff') format('woff');
}

.footer {
	color: var(--text-white);
	background-color: var(--bg-secondary);
	// background-image: url('../img/footer-pattern-1.svg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 150%;

	@media (min-width: 576px) {
		background-position: -100px center;
	}

	@media (min-width: 992px) {
		background-position:
			-100px center,
			right center;
	}

	.container-fluid {
		position: relative;

		.ufrn-assinatura {
			align-items: center;
			display: flex;
			opacity: 0.85;

			img {
				width: 100px;

				@media (min-width: 1200px) {
					width: 176px;
				}
			}

			.logo-a-direita {
				height: 20px;
				width: auto;

				@media (min-width: 1200px) {
					height: 38px;
				}
			}

			.text-assinatura {
				font-family: 'Liberation Sans';
				font-size: 1.3rem;
				font-weight: bold;
				opacity: 0.85;

				@media (min-width: 1200px) {
					font-size: 1.9rem;
				}
			}
		}

		.creditos {
			.logos-wrapper {
				img {
					width: 96px;

					@media (min-width: 1200px) {
						width: 120px;
					}
				}
			}

			.text-wrapper {
				opacity: 0.85;
				font-size: 0.65rem;

				@media (min-width: 1200px) {
					font-size: 1rem;
				}
			}
		}

		.copyright-text {
			font-size: 0.65rem;
			opacity: 0.25;
			text-align: center;

			@media (min-width: 576px) {
				position: absolute;
				bottom: -4px;
				left: 12px;
			}

			@media (min-width: 1200px) {
				font-size: 1rem;
			}
		}
	}
}
